<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SIGN UP</title>
    </head>

    <body>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <div class="container">
            <h1>Please sign up before sign in</h1>

            <div class="row">
                <div class="col-xs-2">


                </div>

                <div class="col-xs-8">

                    <form>

                        <div class="form-group">

                            <label>First Name :</label>
                            <input type="text" class="form-control" id="firstNameInputText"  placeholder="Enter your first name">

                        </div>

                        <div class="form-group">

                            <label>Last Name :</label>
                            <input type="text" class="form-control" id="lastNameInputText"  placeholder="Enter your last name">


                        </div>

                        <div class="form-group">

                            <label>Email Address :</label>
                            <input type="email" class="form-control" id="emailAddressInputEmail"  placeholder="Enter your email">

                        </div>

                        <div class="form-group">

                            <label>Login :</label>
                            <input type="text" class="form-control" id="loginInputText"  placeholder="Enter your login">

                        </div>

                        <div class="form-group">

                            <label>Password :</label>
                            <input type="password" class="form-control" id="passwordInputPassword" placeholder="Enter your password">
                        </div>

                        <div class="form-group">

                            <label>Retype your Password :</label>
                            <input type="password" class="form-control" id="passwordInputRetypePassword" placeholder="Retype your password">

                        </div>

                        <div><button type="submit" class="btn btn-primary">Sign up</button></div>
                    </form>

                </div>


                <div class="col-xs-2">


                </div>



            </div>


        </div>

        <footer>
            <p>Posted by: Hege Refsnes</p>
            <p>Contact information: <a href="mailto:someone@example.com">
                someone@example.com</a>.</p>
        </footer>


    </body>
</html>